{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Catalog
</h1>
<table class="table">
    <thead>
    <tr>
        <th>Item id</th>
        <th>Item name</th>
        <th>Item description</th>
        <th>Price</th>
        <th>Count to buy</th>
        {% if flag %}
        <th>Available</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    {% for item in items %}
    <tr id="row_id_{{item.id}}">
        <th>{{ item.id }}</th>
        <th>{{ item.name }}</th>
        <th>{{ item.description }}</th>
        <th>{{ item.price }}</th>
        <th><input id="count_id_{{ item.id }}" class="input is-rounded" type="text" placeholder="Count" value="1"></th>
        {% if flag%}
        <th>{{ item.is_ready }}</th>
        {% endif %}
        <th>
            <input onclick="add_to_cart({{ item.id }})" class="button" type="submit" value="Buy">
        </th>
    </tr>
    {% endfor %}

    </tbody>
</table>
<script src="{{ url_for('static', filename='new2.js') }}"></script>
{% endblock %}