{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Catalog
</h1>
<table class="table is-striped is-hoverable">
    <thead>
    <tr>
        <th>Item id</th>
        <th>Item name</th>
        <th>Item description</th>
        <th>Price</th>
        {% if user.is_authenticated %}
        {% if user.is_admin %}
        <th>Available</th>
        {% endif %}
        <th>Count to buy</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    {% for item in items %}
    <tr id="row_id_{{item.id}}">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        {% if user.is_admin%}
        <td>{{ item.is_ready }}</td>
        {% endif %}
        {% if user.is_authenticated%}
        <td><input id="count_id_{{ item.id }}" class="input is-rounded" type="text" placeholder="Count" value="1"></td>
        <td>
            <input onclick="add_to_cart({{ item.id }})" class="button is-link" type="submit" value="Buy">
        </td>
        {% endif %}
    </tr>
    {% endfor %}

    </tbody>
</table>
<script src="{{ url_for('static', filename='new2.js') }}"></script>
{% endblock %}