{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Your cart
</h1>
<table class="table is-striped is-hoverable">
    <thead>
    <tr>
        <th>Item name</th>
        <th>Item description</th>
        <th>Price</th>
        <th>Count</th>
    </tr>
    </thead>
    <tbody>

    {% for item in items %}
    <tr id="row_id_{{ item.Item.id }}" >
        <td>{{ item.Item.name }}</td>
        <td>{{ item.Item.description }}</td>
        <td>{{ item.Item.price }}</td>
        <td>{{ item.count }}</td>
        <td>
            <button class="delete is-medium" onclick="remove_from_cart({{item.Item.id}})"></button>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}